
// LAYOUT
header {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
