// FONTS
$serif: 'Hepta Slab', serif;
$sans-serif: 'Fira Sans', sans-serif;

// COLORS
$bg: RGB(245, 245, 245); // whitesmoke
$main: RGB(216, 191, 216); // thistle
$font-color: RGB(105, 105, 105); // dimgray
$link: RGB(102, 51, 153); // rebeccapurple
$hover: RGB(220, 220, 220); // silver