// FONTS
$sans-serif: 'Rubik', sans-serif;

// COLORS
$bg: RGB(245, 245, 245); // whitesmoke
$font-color: RGB(128, 128, 128); // gray
$link: RGB(105, 105, 105); // dimgray
$link-underline: RGB(0, 206, 209); // darkturquoise
$hover-bg: RGB(175, 238, 238); // paleturquoise
